
<div class="container d-flex justify-content-center">
  <label class="text-center text-primary bg-light p-2 rounded-2">#SERVICES</label>
</div>
<div class="container d-flex justify-content-center mt-2">
  <h1>What We do?</h1>
</div>
<div class="container d-flex justify-content-center mt-2">
  <p>We have extremely experienced and skilled dedicated developers who are experts in various<br> technologies and tools. Any technology you choose, our team will deliver best results.</p>
</div>


<div class="container d-flex justify-content-between mt-4">
  

<div class="card" style="width: 18rem;">
  <div class="container d-flex justify-content-center mt-2">
    <i class="fa fa-users font-size-45"></i>
  </div>
  <div class="card-body" style="background: rgb(255, 255, 205, 0.2);">
    <h5 class="card-title">Web Development</h5>
    <p class="card-text">Our highly qualified & experienced developers' team delivers highly customized web applications to our clients.</p>
 
  </div>
</div>

  
<div class="card" style="width: 18rem;">
  <div class="container d-flex justify-content-center mt-2">
    <i class="fa fa-mobile font-size-45"></i>
  </div>
  <div class="card-body" style="background: rgb(255, 255, 205, 0.2);">
    <h5 class="card-title">Mobile Development</h5>
    <p class="card-text">We offer a full cycle of application design, integration and management services.</p>
 
  </div>
</div>


  

<div class="card" style="width: 18rem;">
  <div class="container d-flex justify-content-center mt-2">
    <i class="fa fa-home font-size-45"></i>
  </div>
  <div class="card-body" style="background: rgb(255, 255, 205, 0.2);">
    <h5 class="card-title">Application Maintenance</h5>
    <p class="card-text">We ensure robust mechanisms and practices geared to your goals and are aimed at ensuring that applications are highly available and reliable.</p>

  </div>
</div>


  

<div class="card" style="width: 18rem;">
  <div class="container d-flex justify-content-center mt-2">
    <i class="fa fa-wrench font-size-45"></i>
  </div>
  <div class="card-body" style="background: rgb(255, 255, 205, 0.2);">
    <h5 class="card-title">Quality Assurance</h5>
    <p class="card-text">Our quality engineering team ensure high-quality standard of delivered product. We never compromise quality of our solutions.</p>
  
  </div>
</div>


</div>

