
<div class="container mt-5 d-flex justify-content-center">
  <h3 class="text-center col-lg-4 bg-secondary tran rounded-2 text-light">#WELCOME TO RVJ INFOTECH</h3>
</div>
<div class="container mt-5 d-flex justify-content-center ">
  <h1 class="text-center font-size-85">Meet RVJ INFOTECH, Your<br>
Technology Partner</h1>
</div>
<div class="container d-flex justify-content-center mt-1">
  <p class="font-size-45">It's crafted with the latest trend of design & coded with all<br>
modern approaches. Start growing your business with us</p>
</div>